$fontsize-root: 16px;


/**
 *  Colors
 */
$cOrange: 			#e79422;


/**
 * SIZES
 */
$sUnit: 16px;
$sGutter: 15px;
$sGutterDouble: 30px;


/**
 * BREAKPOINTS
 */
$break-mobile-start: 375px;
$break-tablet-start: 768px;
$break-desktop-start: 1080px;
